<!-- HEADER MOBILE-->
<header class="header-mobile d-block d-lg-none">
	<div class="header-mobile__bar">
		<div class="container-fluid">
			<div class="header-mobile-inner">
				<a class="logo" href="{{ path('dashboard') }}">
					<img src="/images/logo.png" alt="Rendez vous"/>
				</a>
				<button class="hamburger hamburger--slider" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</div>
		</div>
	</div>
	<nav class="navbar-mobile">
		<div class="container-fluid">
			<ul class="navbar-mobile__list list-unstyled">
				<li class="has-sub">
					<a class="js-arrow" href="#">
						<i class="fas fa-user"></i>Guides</a>
					<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
						<li {% if menu is defined and menu == 'customers' %}class="active"{% endif %}>
							<a href="{{ path('customers') }}">
								<i class="fas fa-users"></i>Clients</a>
						</li>
						<li {% if menu is defined and menu == 'places' %}class="active"{% endif %}>
							<a href="{{ path('places') }}">
								<i class="fas fa-map-marker-alt"></i>Lieux</a>
						</li>
						<li {% if menu is defined and menu == 'appointments' %}class="active"{% endif %}>
							<a href="{{ path('appointments') }}">
								<i class="far fa-calendar-check"></i>Rendez vous</a>
						</li>
						<li>
							<a href="{{ path('user_logout') }}">
								<i class="fas fa-sign-out-alt"></i>Déconnexion</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>
<!-- END HEADER MOBILE-->


<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
	<div class="logo">
		<a href="{{ path('homepage') }}">
			<img src="/images/logo.png" alt="Rendez vous"/>
		</a>
	</div>
	<div class="menu-sidebar__content js-scrollbar1">
		<nav class="navbar-sidebar">
			<ul class="list-unstyled navbar__list">
				<li {% if menu is defined and menu == 'customers' %}class="active"{% endif %}>
					<a href="{{ path('customers') }}">
						<i class="fas fa-users"></i>Clients</a>
				</li>
				<li {% if menu is defined and menu == 'places' %}class="active"{% endif %}>
					<a href="{{ path('places') }}">
						<i class="fas fa-map-marker-alt"></i>Lieux</a>
				</li>
                <li {% if menu is defined and menu == 'appointements' %}class="active"{% endif %}>
					<a href="{{ path('appointments') }}">
						<i class="far fa-calendar-check"></i>Rendez vous</a>
				</li>
                 <li>
					<a href="{{ path('user_logout') }}">
						<i class="fas fa-sign-out-alt"></i>Déconnexion</a>
				</li>
			</ul>
		</li>
	</ul>
</nav></div></aside><!-- END MENU SIDEBAR-->

