{% extends 'layout.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block main %}
<div class="w-50 m-auto">
    <h1>S'enregistrer</h1>
    <div>
        {{ form_start(registrationForm) }}
            {{ form_label(registrationForm.username, 'Identifiant') }}
            {{ form_row(registrationForm.username) }}
            {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
            {{ form_row(registrationForm.plainPassword) }}

            <button class="btn btn-primary">S'enregistrer</button>
            <a class="btn btn-primary my-2" href="{{ path('app_login') }}">Retour</a>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
