{% extends 'base.html.twig' %}

{% block title %}Places{% endblock %}

{% block body %}
    <a href="{{ path('home_page') }}"><span class="iconify" data-icon="bx:bx-arrow-back" data-inline="false"></span> Go back</a>
    <h1><b><span class="whatson-web-span">Places</span> index</b></h1>
    {% if success %}
        <div class="alert alert-success">CSV submitted</div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_row(form.submitFile) }}
    <script>
        $('#form_submitFile').change(function(e){
            var fileName = e.target.files[0].name;
            $('.custom-file-label').text(fileName);
        });
    </script>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Zip Code</th>
            <th>City</th>
        </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td>{{ place.id }}</td>
                <td>{{ place.name }}</td>
                <td>{{ place.address }}</td>
                <td>{{ place.zipCode }}</td>
                <td>{{ place.city }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
