{% extends 'base.html.twig' %}

{% block title %}{{ customer.firstName }} {{ customer.lastName }}{% endblock %}

{% block body %}
    <h1>Client {{ customer.firstName }} {{ customer.lastName }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Prenom</th>
                <td>{{ customer.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ customer.lastName }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ customer.birthDate ? customer.birthDate|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('customer_index') }}">Retour à la liste</a>

    <a href="{{ path('customer_edit', {'id': customer.id}) }}">Modifier</a>

    {{ include('customer/_delete_form.html.twig') }}
        <div class="RetourAuMenu">
            <a href="/">Retour au menu</a>
        </div>
{% endblock %}
