{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des rendez-vous</h1>
    <article>        
        <p><a class="btn btn-success" href="{{ path('create_appointment') }}">Ajouter un rendez-vous</a></p>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nom de l'utilisateur</th>
                        <th>Nom du client</th>
                        <th>Lieu du rendez-vous</th>
                        <th>Date du rendez vous</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment.idUser }}</td>
                        <td>{{ appointment.idCustomer }}</td>
                        <td>{{ appointment.idPlace }}</td>
                        <td>{{ appointment.date | date('d/m/Y') }}</td>
                        <td>
                        <a class="btn btn-primary" href="{{ path('edit_appointment', {'id':appointment.id}) }}">Modifier</a>
                        <a class="btn btn-primary" href="{{ path('delete_appointment', {'id':appointment.id}) }}">Supprimer</a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </article>
{% endblock %}