{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des clients</h1>
    {% if app.user %}
    <article>        
        <p><a class="btn btn-success" href="{{ path('create_customer') }}">Ajouter un client</a></p>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Date de naissance</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.firstName }}</td>
                        <td>{{ customer.lastName }}</td>
                        <td>{{ customer.birthDate | date('d/m/Y') }}</td>
                        <td>
                        <a class="btn btn-primary" href="{{ path('edit_customer', {'id':customer.id}) }}">Modifier</a>
                        <a class="btn btn-primary" href="{{ path('delete_customer', {'id':customer.id}) }}">Supprimer</a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </article>
    {% endif %}
{% endblock %}
