{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur mon test Symfony !</h1>
    {% if app.user %}
    <button type="submit" class="btn btn-primary">Déconnexion</button>

        <article>        
            <h2>Liste des clients</h2>
            <p><a class="btn btn-success" href="{{ path('create_customer') }}">Ajouter un client</a></p>
              <table class="table table-striped table-hover">
                  <thead>
                      <tr>
                          <th>Prénom</th>
                          <th>Nom</th>
                          <th>Date de naissance</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for customer in customers %}
                      <tr>
                          <td>{{ customer.firstName }}</td>
                          <td>{{ customer.lastName }}</td>
                          <td>{{ customer.birthDate | date('d/m/Y') }}</td>
                          <td>
                            <a class="btn btn-primary" href="{{ path('edit_customer', {'id':customer.id}) }}">Modifier</a>
                            <a class="btn btn-primary" href="{{ path('delete_customer', {'id':customer.id}) }}">Supprimer</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
        </article>

    {% endif %}
{% endblock %}
