{% extends "base.html.twig" %}

{% block body %}

    <h1>Liste des places</h1>
    <table class="table table-striped table-hover">
    <p><a class="btn btn-primary" href="{{ path('places_csv') }}">Importer un fichier CSV</a></p>
        <thead>
            <tr>                
                <th>Nom</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
            </tr>
        </thead>
        <tbody>
            {% for place in places %}
            <tr>
                <td>{{ place.name }}</td>
                <td>{{ place.adress }}</td>
                <td>{{ place.zipCode }}</td>
                <td>{{ place.city }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}