
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">

            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.idCustomer) }}
                {{ form_widget(form.idCustomer,{'attr':{'class':'form-control'}}) }}
                <div class="text-danger">
                    {{ form_errors(form.idCustomer) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.idPlace) }}
                {{ form_widget(form.idPlace,{'attr':{'class':'form-control'}}) }}

                </div>
                <div class="text-danger">
                    {{ form_errors(form.idPlace) }}
                </div>
            <div class="form-group">
                {{ form_label(form.date) }}
                <div class="form-row">
                    <div class="col-md-3" >
                        {{ form_widget(form.date.day,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="col-md-3" >
                        {{ form_widget(form.date.month,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="col-md-3" >
                        {{ form_widget(form.date.year,{'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="text-danger">
                    {{ form_errors(form.date) }}
                </div>
            </div>
            <div class="form-group">
            </div>

                <div class="col-md-2 mx-auto">
                    <input type="submit" class="btn btn-success" value="Valider"/>
                </div>
            {{ form_end(form) }}
            </div>
        </div>
    </div>