{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}
    <a href="{{ path('appointment_index') }}"><span class="iconify" data-icon="bx:bx-arrow-back" data-inline="false"></span> Go back</a>
    <h1><b><span class="whatson-web-span">Appointment</span></b></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ appointment.date ? appointment.date|date('Y-m-d H:i') : '' }}</td>
            </tr>
            <tr>
                <th>User</th>
                {% for user in appointment.idUser %}
                    <td>{{ user }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Customer</th>
                {% for customer in appointment.idCustomer %}
                    <td>{{ customer }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ appointment.idPlace }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('appointment_edit', {'id': appointment.id}) }}"><span class="iconify" data-icon="fa:edit"></span> Edit</a>

    {{ include('appointment/_delete_form.html.twig') }}
{% endblock %}
