{% extends "base.html.twig" %}
{% block body %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if app.request.get('_route') == 'home' %} active {% endif %}" href="{{  path('home') }}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id ="dropdownMenu2" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" href="#">Informations personnelles</a>
                <a class="dropdown-item" href="#">Messages</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>{% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ path('registration') }}">Ajouter un compte</a>
                <a class="dropdown-item" href="#">Gestion des utilisateurs</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Gestion des vignettes</a>
            </div>
        </li>{% endif %}
        <li class="nav-item">
            <a class="nav-link {% if app.request.get('_route') == 'registration' %} active {% endif %}" href="{{  path('registration') }}">Crée un user</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if app.request.get('_route') == 'customer_index' %} active {% endif %}" href="{{  path('customer_index') }}">Customers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if app.request.get('_route') == 'place' %} active {% endif %}" href="{{  path('place') }}">List Place</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if app.request.get('_route') == 'appointment_index' %} active {% endif %}" href="{{  path('appointment_index') }}">Mes Rendez-vous</a>
        </li>
        <li class="nav-item float-right">
            <a class="nav-link " href="{{ path('app_logout') }}">Se Déconnecter</a>
        </li>
    </ul>
{% endblock %}