<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Inscription - Rendez vous</title>

		<link rel="shortcut icon" href="/images/favicon.png">

        <!-- Fontfaces CSS-->
        <link href="/assets/css/font-face.css" rel="stylesheet" media="all">
        <link href="/assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="/assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
        <link href="/assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

        <!-- Bootstrap CSS-->
        <link href="/assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

        <link href="/assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

        <!-- Main CSS-->
        <link href="/assets/css/theme.css" rel="stylesheet" media="all">

	</head>
	<body class="animsition">


		<div class="page-wrapper">
			<div class="page-content--bge5">
				<div class="container">
					<div class="login-wrap">
						<div class="login-content">
							<div class="login-logo">
								<a href="#">
									<img src="/images/logo.png" alt="Rendez vous">
								</a>
							</div>
							
							<div class="login-form">
								{{ form_start(form) }}
									{{ form_row(form.firstName) }}
									{{ form_row(form.lastName) }}
                                    {{ form_row(form.username) }}
                                    {{ form_row(form.pass) }}
                                    {{ form_row(form.passConfirm) }}
									<button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">S'inscrire</button>
								{{ form_end(form) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Jquery JS-->
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

		<script src="/assets/back-end/vendor/bootstrap-4.1/bootstrap.min.js"></script>
	
	</body>
</html>

